@import "_functions";
*,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	font-size: 10px;
}
a,p {
	color: #fff;
}

body {
  background-color: #04070a;
	@include makeColFlexCenter;
	&>* {
		display: inline-flex !important;
	}
}

.text-div-1 {
	margin-top: 5%;
	position: relative;
	overflow: hidden;
	transition: all 5s ease-in;
	cursor: pointer;
	&>p {
		font-size: 5rem;
	}
}

.text-bg-slide {
	overflow: visible;
	padding: 0 2rem;
	&>span {
		@include makeFullHeightBlock;
		z-index: -1;
		background-color: red;
		animation-duration: 20s;
		animation-iteration-count: 1;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		&:first-of-type {
			transform: translateY(200%);
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
		}
		&:nth-of-type(2) {
			transform-origin: bottom;
			transform: translateY(-200%);
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
		}
		&.slide-up {
			animation-name: back_slide_up;
		}
		&.slide-down {
			animation-name: back_slide_down;
			animation-delay: .1s;
		}
		&:first-of-type {
			width: 55%;
			@include makeAbsoluteTopLeftDiv;
			transform-origin: top;
			transition-delay: .2s;
		}
		&:nth-of-type(2) {
			width: 45%;
			@include makeAbsoluteTopRightDiv;
			transform-origin: bottom;
		}
		@keyframes back_slide_up {
			from {
				transform: translateY(200%);
			}
			5% {
				transform: translateY(0%);
			}
			10% {
				border-radius: unset;
			}
			to {
				transform: translateY(0%);
				border-radius: unset;
			}
		}
		@keyframes back_slide_down {
			from {
				transform: translateY(-200%);
			}
			5% {
				transform: translateY(0%);
			}
			10% {
				border-radius: unset;
			}
			to {
				transform: translateY(0%);
				border-radius: unset;
			}
		}
	}
}
